@font-face {
	font-family: "Chinese Rocks";
	src: url("chineserocks.ttf");
}

button {
	font-family: "Chinese Rocks";
}

h1 {
	font-family: "Chinese Rocks";
}

h2 {
	font-family: "Chinese Rocks";
}

h3 {
	font-family: "Chinese Rocks";
}

.object.selected {
	background-color: red;
	color: white
}
