@font-face {
	font-family: "Chinese Rocks";
	src: url("chineserocks.ttf");
}

@font-face {
	font-family: "212 Keyboard";
	src: url("keyboard.ttf");
}

* {
	font-size: inherit;
	font-family: inherit;
	user-select: none;
	color: inherit;
}

::selection {
	background-color: #d00;
}

html, body {
	background: none;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: Helvetica;
}

button {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: solid 1px white;
	font-family: "Chinese Rocks";
	font-size: 1.1vw;
}

button:hover:enabled, button:focus:enabled {
	background-color: rgba(255, 0, 0, 0.5);
}

button:active:enabled {
	background-color: white;
	color: black;
}

button:disabled {
	color: #444;
	border: solid 1px #444;
}

input {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: solid 1px white;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	background: rgba(0, 0, 0, 0.5);
	height: 1vw;
	width: 1vw;
	border: 1px solid white;
	vertical-align: middle;
}

input[type="checkbox"]:checked {
	background: rgba(255, 0, 0, 0.75);
}

input:disabled {
	color: #444;
	border: solid 1px #444;
}

#hud {
	display: none;
	font-size: 1vw;
}

#info {
	text-align: center;
}

#crosshair {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2vw;
	color: white;
	font-family: Times;
}

#crosshair.inactive {
	color: white;
}

#crosshair.active {
	color: #0f0;
}

#crosshair.attached {
	color: #0ff;
}

#info {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	color: white;
}

#controls {
	font-size: 0.75vw;
	padding: 1vh 1vw;
}

#cam-info {
	position: absolute;
	top: 50%;
	left: 1%;
	transform: translate(0, -50%);
	color: white;
}

.menu {
	display: none;
	position: absolute;
	top: 50%;
	right: 1%;
	height: 95%;
	transform: translate(0, -50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 1vw;
	padding: 0.5vh 0.5vw;
	flex-flow: column;
	min-width: 10%;
}

#spawn-categories {
	padding: 1vh 0;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
}

.spawn-category {
	padding: 0.25vh 0;
}

.spawn-category button {
	width: 100%;
}

.search-filter {
	width: 100%;
	border: solid 1px white;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.list {
	flex-grow: 1;
	overflow-y: auto;
	padding: 0.5vh 0;
}

::-webkit-scrollbar {
	background: black;
}

::-webkit-scrollbar-thumb {
	background-color: white;
}

.object {
	padding: 0.25vh 0.25vw;
}

.object:hover {
	background-color: white;
	color: black;
}

.object.selected {
	background-color: red;
	color: white;
}

#properties-menu .label, #properties-menu .value {
	display: inline;
}

#properties-menu .label::after {
	content: ": ";
}

.property {
	padding: 0.5vh 0;
}

.property.multiple {
	display: flex;
}

.property label {
	display: block;
}

.property button {
	display: block;
	width: 100%;
	white-space: nowrap;
}

.property input {
	display: block;
	width: 100%;
}

.add-remove-db {
	display: none;
}

#load-db-options, #save-db-options {
	padding: 1vh 0;
}

.database {
	padding: 0.25vh 0.25vw;
}

.database:hover {
	background-color: white;
	color: black;
}

#help-menu {
	display: none;
	flex-flow: column;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	padding: 1vh 1vw;
	font-size: 0.75vw;
	max-height: 95%;
}

#help-content {
	flex-grow: 1;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding: 0 0.5vw;
}

td {
	text-align: left;
	vertical-align: middle;
	padding: 0.5vh 0.5vw;
}

#help-menu-controls {
	padding: 0.5vh 0;
}

#help-menu-close-btn {
	width: 100%;
	font-size: 1vw;
}

h1 {
	font-size: 1.5vw;
	color: #b00;
	font-family: "Chinese Rocks";
	font-weight: normal;
}

h2 {
	font-size: 1.25vw;
	font-family: "Chinese Rocks";
	font-weight: normal;
}

h3 {
	font-size: 1.0vw;
	font-family: "Chinese Rocks";
	font-weight: normal;
}

strong {
	color: #b00;
}

.control {
	font-family: "212 Keyboard";
	font-size: 2vw;
}

#import-export-db {
	display: none;
	flex-flow: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 50%;
	background: rgba(0, 0, 0, 0.5);
	color: white;
}

#import-export-controls {
	display: flex;
	width: 100%;
}

select {
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border: solid 1px white;
}

option {
	background-color: #000;
}

#import-url {
	flex-grow: 1;
}

textarea {
	width: 100%;
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.75);
	color: white;
	resize: none;
}

.attachment-option {
	padding: 0.5vh 0;
}
